<script setup>
import { useI18n } from "vue-i18n";
const { locale } = useI18n();

const changeLang = (lang) => {
  locale.value = lang;
};
</script>

<template>
  <el-affix :offset="0">
    <el-menu
      class="header"
      :default-active="activeMenuIndex"
      mode="horizontal"
      router
    >
      <el-menu-item index="/">
        {{ $t("appname") }}
      </el-menu-item>
      <el-menu-item index="/about">
        {{ $t("link.about") }}
      </el-menu-item>
      <div class="right-menu">
        <el-submenu>
          <template #title>{{ $t("language") }}</template>
          <el-menu-item
            v-for="l in langs"
            :key="l"
            class="right-menu-item"
            @click="changeLang(l)"
            >{{ $i18n.getLocaleMessage(l)["language"] }}</el-menu-item
          >
        </el-submenu>
      </div>
    </el-menu>
  </el-affix>
</template>

<script>
export default {
  data() {
    return {
      langs: this.$i18n.availableLocales,
    };
  },
};
</script>

<style>
.header {
  height: 60px;
}

.right-menu {
  float: right;
  height: 60px;
  line-height: 60px;
}
.right-menu :focus {
  outline: none;
}
.right-menu .el-submenu__icon-arrow {
  right: 5px;
}

.right-menu .right-menu-item {
  display: inline-flex;
  justify-content: center;
  text-align: left;
}
</style>
