<template>
  <!-- <audio id="audio" src="" controls></audio> -->
  <el-affix :offset="30" position="bottom" style="width: 100%">
    <div class="bottom-player">
      <div id="aplayer" class="aplayer"></div>
    </div>
  </el-affix>
</template>

<style src="aplayer/dist/APlayer.min.css"></style>
<style>
.bottom-player {
  padding: 0px 20px;
}
</style>
