<template>
  <el-steps
    id="progress"
    class="element"
    :active="active"
    finish-status="success"
  >
    <el-step
      v-bind:title="$t('steps.select_audio')"
      @click="jumpTo(0)"
    ></el-step>
    <el-step v-bind:title="$t('steps.make_lrc')" @click="jumpTo(1)"></el-step>
    <el-step title="步骤 3" @click="jumpTo(2)"></el-step>
  </el-steps>
  <el-button-group id="steps-btn" class="element">
    <el-button
      type="primary"
      @click="prevStep"
      :disabled="isPrevBtnDisabled"
      icon="el-icon-arrow-left"
      >{{ $t("btn.prev") }}</el-button
    >
    <el-button type="primary" @click="nextStep" :disabled="isNextBtnDisabled"
      >{{ $t("btn.next") }}<i class="el-icon-arrow-right el-icon--right"></i
    ></el-button>
  </el-button-group>
  <el-row>
    <div id="select-music" class="element" v-if="active === 0">
      <SelectMusic />
    </div>
    <div id="make-lrc" class="element lrc" v-if="active === 1">
      <MakeLrc />
    </div>
  </el-row>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SelectMusic from "@/components/SelectMusic.vue";
import MakeLrc from "@/components/MakeLrc.vue";
import { LrcMaker } from "@/lrcmaker/lrcm";

const maxNumSteps = 2;

export default defineComponent({
  name: "Home",
  components: {
    SelectMusic,
    MakeLrc,
  },
  data() {
    return {
      active: 0,
    };
  },
  computed: {
    isNextBtnDisabled() {
      // eslint-disable-next-line
      return (this as any).active >= maxNumSteps;
    },
    isPrevBtnDisabled() {
      // eslint-disable-next-line
      return (this as any).active <= 0;
    },
  },
  methods: {
    nextStep() {
      // eslint-disable-next-line
      const lrcmaker: LrcMaker = (this as any).$lrcmaker;
      lrcmaker.audio.pause();
      this.active++;
      this.active = Math.min(this.active, maxNumSteps);
    },
    prevStep() {
      // eslint-disable-next-line
      const lrcmaker: LrcMaker = (this as any).$lrcmaker;
      lrcmaker.audio.pause();
      this.active--;
      this.active = Math.max(this.active, 0);
    },
    jumpTo(num: number) {
      // eslint-disable-next-line
      const lrcmaker: LrcMaker = (this as any).$lrcmaker;
      lrcmaker.audio.pause();
      this.active = num;
    },
  },
});
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.element {
  padding: 30px 30px 0px 30px;
  display: inline-block;
}

.lrc {
  width: -webkit-fill-available;
}

#progress .el-step .el-step__title {
  width: fit-content;
  cursor: pointer;
}
</style>
