<template>
  <el-row style="align-items: center">
    <el-col :span="4"
      ><h3>{{ $t("title.lyrics") }}</h3></el-col
    >
    <el-col :span="4"
      >{{ $t("title.playback_speed") }}
      <el-slider
        v-model="playbackSpeed"
        :max="2"
        :min="0.3"
        :step="0.01"
        @change="onPlaybackSpeedChange"
      ></el-slider
    ></el-col>
    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
    <el-col :span="4"><div class="grid-content bg-purple-light"></div></el-col>
    <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
    <el-col :span="4"><div class="grid-content bg-purple-light"></div></el-col>
  </el-row>
  <el-scrollbar height="500px">
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
    <p>123321</p>
  </el-scrollbar>
</template>

<script>
export default {
  data() {
    return {
      playbackSpeed: this.$lrcmaker.audio.playbackSpeed,
    };
  },
  methods: {
    onPlaybackSpeedChange(val) {
      console.log(this.$lrcmaker.audio.playbackSpeed);
      console.log(val);
      this.$lrcmaker.audio.playbackSpeed = val;
      console.log(this.$lrcmaker.audio.playbackSpeed);
    },
  },
};
</script>
