<template>
  <h3>{{ $t("file_upload.upload_audio") }}</h3>
  <el-upload
    class="subelement"
    drag
    action=""
    :auto-upload="false"
    :accept="'audio/mp3,video/mp4'"
    :file-list="audioFileSelected"
    :on-change="onAudioChange"
    :on-remove="onAudioRemove"
    :limit="1"
  >
    <i class="el-icon-upload"></i>
    <div class="el-upload__text">
      <span v-html="$t('file_upload.text')"></span>
    </div>
    <template #tip>
      <div class="el-upload__tip">
        <span v-html="$t('file_upload.audio_tips')"></span>
      </div>
    </template>
  </el-upload>

  <h3>{{ $t("file_upload.upload_lrc") }}</h3>
  <el-upload
    class="subelement"
    drag
    action=""
    :auto-upload="false"
    :accept="'.txt'"
    :file-list="fileSelected"
    :on-change="onChange"
    :on-remove="onRemove"
    :limit="1"
  >
    <i class="el-icon-upload"></i>
    <div class="el-upload__text">
      <span v-html="$t('file_upload.text')"></span>
    </div>
    <template #tip>
      <div class="el-upload__tip">
        <span v-html="$t('file_upload.lrc_tips')"></span>
      </div>
    </template>
  </el-upload>
</template>

<script>
import { ElMessage } from "element-plus";

export default {
  computed: {
    audioFileSelected() {
      return this.$lrcmaker.audio.hasAudioFile
        ? [this.$lrcmaker.audio.audioFile]
        : [];
    },
  },
  methods: {
    onAudioChange(file, fl) {
      console.log(file);
      this.$lrcmaker.audio.setAudioFile(file);
      ElMessage({
        type: "success",
        showClose: true,
        message: this.$t("file_upload.success", [file.name]),
      });
    },
    onAudioRemove(file, fl) {
      this.$lrcmaker.audio.setAudioFile(undefined);
      ElMessage({
        type: "success",
        showClose: true,
        message: this.$t("file_upload.remove_success", [file.name]),
      });
    },
  },
};
</script>

<style>
.subelement {
  padding: 0px 0px 30px 0px;
}
</style>
