<template>
  <div class="common-layout">
    <el-container>
      <el-header>
        <AppBar />
      </el-header>
      <el-main :style="mainStyle">
        <!-- <div id="nav">
          <router-link to="/">Home</router-link> |
          <router-link to="/about">About</router-link>
        </div>-->
        <router-view />
      </el-main>
      <el-footer>
        <MediaControl />
      </el-footer>
    </el-container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import AppBar from "./components/core/AppBar.vue";
import MediaControl from "@/components/core/MediaControl.vue";

export default defineComponent({
  components: {
    AppBar,
    MediaControl,
  },
  data() {
    return {
      mainStyle: {
        height: window.innerHeight - 61 - 70 + "px",
      },
    };
  },
});
</script>
